[submodule "_loopychess-git"]
	path = _loopychess-git
	url = https://github.com/origamimantis/loopychess.git
[submodule "_phone-joycon-git"]
	path = _phone-joycon-git
	url = https://github.com/origamimantis/phone-joycon.git
